.about-section p {
	color: #ffffff;
}
.name-change {
	font-style: italic;
    text-shadow: none;
    font-size: 22px;
    outline-style: none;
    text-decoration: none;
}
.about {
	margin-top: 100px;
	margin-bottom: 200px;
	padding: 0;
}
.about-desc {
	padding-left: 50px;
	padding-right: 50px;
	margin: 10px auto;
}
.kdot-img {
	width: auto;
	max-height: 450px;
}
@media only screen and (max-width: 1204px) {
	.about-image{
		margin: 10px auto;
	}
	.kdot-img{
		max-height: 500px;
	}
}
@media only screen and (max-width: 992px) {
	.about-image,
	.about-desc{
		margin-top: 30px;
		margin-bottom: 10px;
	}
}