html, body{
  height: 100%;
}
*, body{
	margin: auto;
	font-family: 'Cousine', monospace;
	font-family: 'Slabo 27px', serif;
}
h2{
	color:#000;
}
@media only screen and (max-width: 1204px) {
	.container {
		/*width: 970px;*/
	}
}