nav.navbar {
    background: none;
    border: none;
}
.navbar-inverse .navbar-brand, .navbar-inverse .navbar-nav>li>a {
    text-shadow: none;
}
.dropdown:hover,
.dropdown:hover #basic-nav-dropdown,
.dropdown:hover .dropdown-menu {
	color:#000;
    background: #fff;
    display: block;
    border: none;
	-webkit-transition: all .3s ease-in-out;
	-moz-transition: all .3s ease-in-out;
	transition: all .3s ease-in-out;
}
.dropdown:hover{
    font-size: 14px;
    text-align: left;
    list-style: none;
    border-radius: 4px 4px 0 0;
    -webkit-box-shadow: 0 6px 12px rgba(0,0,0,.175);
    box-shadow: 0 6px 12px rgba(0,0,0,.175);
}
ul.dropdown-menu li {
    text-align: right;
}
.navbar-nav>li>.dropdown-menu {
    border-top-left-radius: 4px;
}
@media only screen and (max-width: 420px) {
    body {
        background-color: lightblue;
    }
}
