.album {

}
.album-section {
	display: inline-block;
	margin-left: auto;
	margin-right: auto;
}
.album-section .album-desc, .album-section .album.sp {
	display: inline-block;
}
.album-desc{

}
.album-sp {
	
}