body{
	margin: 0;
	padding: 0!important;
}
.container { 
	background-image: url("https://s3-us-west-2.amazonaws.com/kendrickdamnproject/background-home.jpg");
	background-position: center center;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
}
.row{

}
.col-md-6, .col-xs-12{
	padding: 0;
	margin-bottom: -12px;
}
h3{
	margin-top: 0;
}
.album-section {
	display: inline-block;
	top:0;
	left: 0;
	right: 0;
	bottom: 0;
}
.album-desc{
	word-wrap: break-word;
	padding: 2em;
}
.album-desc,
.btn.btn-default{
	color: #fff;
}
.album-desc .btn.btn-default{
	background: none;
	border: none;
	text-shadow: none;
	box-shadow: none;
}
.album-desc .btn.btn-default:hover{
	background-color: #fefefe;
	-webkit-transition: all .4s ease-in-out;
	-moz-transition: all .4s ease-in-out;
	transition: all .4s ease-in-out;
	color: #000000;
}
.album-sp {
	width: 100%;
	min-height: 300px;
	height: 100%;
}
.album-yt {
	width: 100%;
	min-height: 300px;
	height: 100%;
}
@media only screen and (max-width: 768px) {
	.container {
		/*padding: 0;*/
		width:auto;
	}
	.album-section {
		border: 2px solid white;
		margin-left: auto;
		margin-right: auto;
		padding: 20px;
	}
	.center-btn{
		text-align: center;
	}
	.center-btn .btn.btn-default{
		display: block;
		padding: 10px;
		margin: 10px auto;
		max-width: 150px;
		border: 2px solid white;
	}
}