.album-section {
	display: inline-block;
	margin-left: auto;
	margin-right: auto;
}
.album-section .album-desc, .album-section .album.sp {
	display: inline-block;
}
.album-desc{
	word-wrap: break-word;
}
.album-desc .btn.btn-default{
	background: none;
	border: none;
	text-shadow: none;
	box-shadow: none;
}
.album-desc .btn.btn-default:hover{
	word-wrap: break-word;
}
.album-sp {
	width: 100%;
	min-height: 300px;
	height: auto;
}
.album-yt {
	width: 100%;
	min-height: 300px;
	height: auto;
}